[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/Vundle.vim.git
[submodule "oh-my-zsh/plugins/--force"]
	path = oh-my-zsh/plugins/--force
	url = git@github.com:chrissicool/zsh-256color.git
[submodule "oh-my-zsh/plugins/zsh-256color"]
	path = oh-my-zsh/plugins/zsh-256color
	url = git@github.com:chrissicool/zsh-256color.git
