[user]
  email = kimpersson88@gmail.com
  name = Kim Persson
  signingkey = BEDF21BF
[push]
  default = current
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
  bs = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  fix = "!${EDITOR} $(git diff --name-only --relative --diff-filter=U | uniq)"
  stash-unstaged = stash -k -u
  addp = "add -N . && add -p"
  co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
  pushf = "push --force-with-lease"
  pr="!f() { \
    BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD); \
    git push -u origin $BRANCH_NAME;                \
    hub pull-request --draft;                       \
  };f "
co-pr="!f() { git fetch origin refs/pull/$1/head:pr/$1 && git checkout pr/$1; };f"

[core]
  excludesfile = /Users/kim/.gitignore
  pager = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[commit]
  gpgsign = true
[gpg]
  program = /opt/homebrew/bin/gpg
[init]
  templatedir = ~/.git-templates
  defaultBranch = main
[rerere]
  enabled = true
[hub]
  protocol = ssh
[pull]
  ff = only
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[delta]
  line-numbers = true
  light = true
  show-syntax-themes = true
