"*":
  "atom-ternjs":
    displayAboveSnippets: true
    guess: false
    useSnippets: true
  "autocomplete-modules":
    includeExtension: true
    webpack: true
  "autocomplete-plus": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter"
      "language-babel"
      "react"
      "linter-jshint"
      "atom-tsd"
      "autocomplete-paths"
      "autocomplete-modules"
      "nuclide"
    ]
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  "custom-title":
    template: "<%= projectName %> <% if (relativeFilePath) { %>- <%= relativeFilePath %> <% } %> - <%= gitHead %>"
  docblockr: {}
  editor:
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
  "ex-mode":
    splitbelow: true
    splitright: true
  "exception-reporting":
    userId: "1e1cc154-1260-5a70-812e-2ea54c7084f5"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "highlight-line":
    enableBackgroundColor: false
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter:
    showErrorPanel: false
  "linter-eslint":
    fixOnSave: true
    globalNodePath: "/Users/kim/.nvm/versions/node/v4.4.5"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-distraction-free-mode": {}
    "nuclide-flow": {}
    "nuclide-format-js":
      requiresAddMissingRequires: false
    "nuclide-home":
      showHome: false
    "nuclide-working-sets":
      workingSets: [
        {
          name: "source"
          active: true
          uris: [
            "/Users/kim/Development/leo-sports-client/src"
          ]
        }
      ]
  "save-session":
    dataSaveFolder: "/Users/kim/.atom/packages/save-session/projects"
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
"node-debugger":
  appArgs: ""
  debugPort: 5860
  nodePath: "/Users/kim/.nvm/versions/node/v0.12.7/bin/node"
